{% extends "account/wab/__base_password_reset.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="login-page container-landpage">
        <div class="wrapper fadeInDown">
            <div id="formContent_reset">
                <div class="fadeIn first logo">
                    <h2>Web Application Base</h2>
                </div>

                <div class="form-login">
                    <div class="form">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="title">
                                <div class="col-lg-12 text-center">Success</div>
                            </div>
                            <div class="txt-inline" style="padding-top: 15px;">
                                <div class="col-lg-12 text-center">
                                    Password successfully set.
                                </div>
                                <div class="col-lg-12" style="padding-top: 15px; padding-bottom: 15px;">
                                    <a href="{{ url_dashboard }}"
                                       style="border-radius: 4px;
    background: #25a9e0;
    height: 38px;
    color: white !important;
    text-decoration: none;
    display: flex;
    margin: 0 auto;
    vertical-align: middle;
    font-size: 16px;
    padding: 0 20px;
    font-weight: bold;
    justify-content: center !important;
    align-items: center !important;">
                                        <div>Login</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
