{% extends "account/wab/__base_password_reset.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="login-page container-landpage">
        <div class="wrapper fadeInDown">
            <div id="formContent_reset">
                <div class="fadeIn first logo">
                    <h2>Web Application Base</h2>
                </div>

                <div class="form-login">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title">Reset password</div>
                                <p class="txt-inline">Input new password for you account</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group form-group-icon">
                                    <label for="new_password1">New password</label>
                                    <input type="password" class="form-control" id="id_new_password1"
                                           name="new_password1"
                                           placeholder="New password" required autofocus>
                                    <div class="view-icon" id="handleViewPasss1">
                                        <img src="https://vqd.blob.core.windows.net/vqd/sso/icon-eye.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group form-group-icon">
                                    <label for="id_email">Confirm new password</label>
                                    <input type="password" class="form-control" id="id_new_password2"
                                           name="new_password2"
                                           placeholder="Confirm new password" required autofocus>
                                    <div class="view-icon" id="handleViewPasss2">
                                        <img src="https://vqd.blob.core.windows.net/vqd/sso/icon-eye.png"/>
                                    </div>
                                    {% include "account/wab/_messages.html" %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <button class="button-login" type="submit">Reset
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('handleViewPasss1').addEventListener('click', function (event) {
            if (
                $(event.target)
                    .parent()
                    .parent()
                    .find("input")
                    .attr("type") == "password"
            ) {
                $(event.target)
                    .parent()
                    .parent()
                    .find("input")
                    .attr("type", "text");
                $(event.target).attr("src", "https://vqd.blob.core.windows.net/vqd/sso/icon-eye-open.png");
            } else {
                $(event.target)
                    .parent()
                    .parent()
                    .find("input")
                    .attr("type", "password");
                $(event.target).attr("src", "https://vqd.blob.core.windows.net/vqd/sso/icon-eye.png");
            }
        }, true);

        document.getElementById('handleViewPasss2').addEventListener('click', function (event) {
            if (
                $(event.target)
                    .parent()
                    .parent()
                    .find("input")
                    .attr("type") == "password"
            ) {
                $(event.target)
                    .parent()
                    .parent()
                    .find("input")
                    .attr("type", "text");
                $(event.target).attr("src", "https://vqd.blob.core.windows.net/vqd/sso/icon-eye-open.png");
            } else {
                $(event.target)
                    .parent()
                    .parent()
                    .find("input")
                    .attr("type", "password");
                $(event.target).attr("src", "https://vqd.blob.core.windows.net/vqd/sso/icon-eye.png");
            }
        }, true);
    </script>
{% endblock content %}
